@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

* {
  box-sizing: border-box;
}

p {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}

a {
  color: inherit;
}

h1 {
  font-size: 40px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

/*-------------Buttons-------------*/
.btn-primary {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  padding: 17px 30px;
  white-space: nowrap;
  letter-spacing: 1px;
  background: #00bfff;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 4px;
}

.btn-default {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  padding: 17px 30px;
  white-space: nowrap;
  letter-spacing: 1px;
  display: inline-block;
  border: none;
  text-transform: uppercase;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-default:hover,
.btn-default:focus {
  cursor: pointer;
  color: #ffffff;
  background: #222222;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/*---------Input--------*/

textarea:focus,
input:focus {
  outline: none;
}

/*Typist*/

.header {
  font-size: 68px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  text-align: center;
}

.subtitle {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
}
